@tailwind base;
@tailwind components;
@tailwind utilities;

.shadow-header {
    box-shadow: -1px -5px 5px 0px rgba(255,255,255,0.75);
}

.slick-dots li {
    margin: 0 3%;
}
.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    border-radius: 50%;
    outline: none;
    background: #55347B;
}

.slick-dots li.slick-active button {
    background: #CA67F5;
    opacity: 1;
    width: 40px;
    height: 20px;
    border-radius: 25px;
}

.slick-arrow {
    display: none!important;
}


/* ul.slick-dots li:last-child {
   display: none;
  } */




@media screen and ( min-width:800px){
    
    #ProxEvent{
        width: 350px;
    }
    #ProxEvent h2{
        width: 200px;
    }

    div#ProxEvent div div h2, div#ProxEvent div div p {
        text-align: center;
        width: 340px;
        justify-content: center;
    }
}
@media screen and ( min-width:1536px){
    #ProxEvent{
        width: 430px;
    }
    #ProxEvent h2{
        width: 300px;
    }

    div#ProxEvent div div h2, div#ProxEvent div div p {
        text-align: center;
        width: 420px;
        justify-content: center;
    }
}

.notificationReceived::after {
    content: " ";
    position: absolute;
    width: 10px;
    height: 10px;
    background: red;
    border-radius: 50%;
    transform: translateX(10px);
}

.Soldout::after {
    content: "Sold Out";
    position: absolute;
    color: red;
    transform: translate(7vw, -19vh);
    font-size: 35px;
}


div#ProxEvent div div h2, div#ProxEvent div div p {
    text-align: center;
    width: 412px;
    justify-content: center;
}

div#ProxEvent img {
    transform: translateY(50px);
}